{% extends 'main/base.html' %}
{% load static %}


{% block title %}
Востребованность
{% endblock %}

{% block content %}
    <div class="section__demand">
        <h1 class="title">Востребованность GameDev</h1>
        <div class="data_class flex">
            <img class="images" src="{% static 'main/img/demend1.png' %}">
        </div>
    </div>
{% endblock %}

{% block blockdown %}
    <img class="images8" src="{% static 'main/img/demend2.png' %}">
    <div class="table flex">

                <table border="1" class="dataframe">
          <thead>
            <tr style="text-align: right;">
              <th></th>
              <th>Средняя зарплата</th>
            </tr>
            <tr>
              <th>Год</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>2005</th>
              <td>93601</td>
            </tr>
            <tr>
              <th>2006</th>
              <td>93582</td>
            </tr>
            <tr>
              <th>2007</th>
              <td>102279</td>
            </tr>
            <tr>
              <th>2008</th>
              <td>81834</td>
            </tr>
            <tr>
              <th>2009</th>
              <td>53351</td>
            </tr>
            <tr>
              <th>2010</th>
              <td>49933</td>
            </tr>
            <tr>
              <th>2011</th>
              <td>53387</td>
            </tr>
            <tr>
              <th>2012</th>
              <td>52049</td>
            </tr>
            <tr>
              <th>2013</th>
              <td>56452</td>
            </tr>
            <tr>
              <th>2014</th>
              <td>51993</td>
            </tr>
            <tr>
              <th>2015</th>
              <td>52695</td>
            </tr>
            <tr>
              <th>2016</th>
              <td>62735</td>
            </tr>
            <tr>
              <th>2017</th>
              <td>61908</td>
            </tr>
            <tr>
              <th>2018</th>
              <td>67679</td>
            </tr>
            <tr>
              <th>2019</th>
              <td>71828</td>
            </tr>
            <tr>
              <th>2020</th>
              <td>72595</td>
            </tr>
            <tr>
              <th>2021</th>
              <td>84102</td>
            </tr>
            <tr>
              <th>2022</th>
              <td>97903</td>
            </tr>
          </tbody>
        </table>

            <table border="1" class="dataframe">
          <thead>
            <tr style="text-align: right;">
              <th></th>
              <th>Количество вакансий</th>
            </tr>
            <tr>
              <th>Год</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>2005</th>
              <td>1836</td>
            </tr>
            <tr>
              <th>2006</th>
              <td>16229</td>
            </tr>
            <tr>
              <th>2007</th>
              <td>24000</td>
            </tr>
            <tr>
              <th>2008</th>
              <td>30627</td>
            </tr>
            <tr>
              <th>2009</th>
              <td>20989</td>
            </tr>
            <tr>
              <th>2010</th>
              <td>31930</td>
            </tr>
            <tr>
              <th>2011</th>
              <td>42282</td>
            </tr>
            <tr>
              <th>2012</th>
              <td>49309</td>
            </tr>
            <tr>
              <th>2013</th>
              <td>68149</td>
            </tr>
            <tr>
              <th>2014</th>
              <td>75828</td>
            </tr>
            <tr>
              <th>2015</th>
              <td>78934</td>
            </tr>
            <tr>
              <th>2016</th>
              <td>85740</td>
            </tr>
            <tr>
              <th>2017</th>
              <td>95811</td>
            </tr>
            <tr>
              <th>2018</th>
              <td>149308</td>
            </tr>
            <tr>
              <th>2019</th>
              <td>130763</td>
            </tr>
            <tr>
              <th>2020</th>
              <td>115116</td>
            </tr>
            <tr>
              <th>2021</th>
              <td>65205</td>
            </tr>
            <tr>
              <th>2022</th>
              <td>20685</td>
            </tr>
          </tbody>
        </table>

            <table border="1" class="dataframe">
          <thead>
            <tr style="text-align: right;">
              <th></th>
              <th>Средняя зарплата - game</th>
            </tr>
            <tr>
              <th>Год</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>2005</th>
              <td>37912</td>
            </tr>
            <tr>
              <th>2006</th>
              <td>55102</td>
            </tr>
            <tr>
              <th>2007</th>
              <td>78331</td>
            </tr>
            <tr>
              <th>2008</th>
              <td>82000</td>
            </tr>
            <tr>
              <th>2009</th>
              <td>58566</td>
            </tr>
            <tr>
              <th>2010</th>
              <td>53147</td>
            </tr>
            <tr>
              <th>2011</th>
              <td>52851</td>
            </tr>
            <tr>
              <th>2012</th>
              <td>57038</td>
            </tr>
            <tr>
              <th>2013</th>
              <td>83553</td>
            </tr>
            <tr>
              <th>2014</th>
              <td>63025</td>
            </tr>
            <tr>
              <th>2015</th>
              <td>72201</td>
            </tr>
            <tr>
              <th>2016</th>
              <td>82048</td>
            </tr>
            <tr>
              <th>2017</th>
              <td>74374</td>
            </tr>
            <tr>
              <th>2018</th>
              <td>80599</td>
            </tr>
            <tr>
              <th>2019</th>
              <td>94112</td>
            </tr>
            <tr>
              <th>2020</th>
              <td>98257</td>
            </tr>
            <tr>
              <th>2021</th>
              <td>105861</td>
            </tr>
            <tr>
              <th>2022</th>
              <td>117410</td>
            </tr>
          </tbody>
        </table>

            <table border="1" class="dataframe">
          <thead>
            <tr style="text-align: right;">
              <th></th>
              <th>Количество вакансий - game</th>
            </tr>
            <tr>
              <th>Год</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>2005</th>
              <td>6</td>
            </tr>
            <tr>
              <th>2006</th>
              <td>80</td>
            </tr>
            <tr>
              <th>2007</th>
              <td>63</td>
            </tr>
            <tr>
              <th>2008</th>
              <td>40</td>
            </tr>
            <tr>
              <th>2009</th>
              <td>43</td>
            </tr>
            <tr>
              <th>2010</th>
              <td>133</td>
            </tr>
            <tr>
              <th>2011</th>
              <td>162</td>
            </tr>
            <tr>
              <th>2012</th>
              <td>171</td>
            </tr>
            <tr>
              <th>2013</th>
              <td>434</td>
            </tr>
            <tr>
              <th>2014</th>
              <td>361</td>
            </tr>
            <tr>
              <th>2015</th>
              <td>363</td>
            </tr>
            <tr>
              <th>2016</th>
              <td>568</td>
            </tr>
            <tr>
              <th>2017</th>
              <td>673</td>
            </tr>
            <tr>
              <th>2018</th>
              <td>881</td>
            </tr>
            <tr>
              <th>2019</th>
              <td>989</td>
            </tr>
            <tr>
              <th>2020</th>
              <td>979</td>
            </tr>
            <tr>
              <th>2021</th>
              <td>705</td>
            </tr>
            <tr>
              <th>2022</th>
              <td>177</td>
            </tr>
          </tbody>
        </table>
    </div>
{% endblock %}
