{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Главная
{% endblock %}

{% block content %}
    <main>
        <div class="">
            <div class="block__main">
                <div class="data_image flex">
                    <p class="perspectives1"><br>Геймдев (GameDev, от&nbsp;английского games development&nbsp;&mdash; &laquo;разработка игр&raquo;)&nbsp;&mdash; процесс создания игры: от&nbsp;разработки и&nbsp;дизайна до&nbsp;выпуска на&nbsp;рынок. Это могут быть игры для мобильных телефонов, консолей, компьютеров или других гаджетов.</p>
                    <img class="img_for_main" src="{% static 'main/img/djostik.png' %}">
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block blockdown %}
        <div class="container flex">
            <div class="">
                <div class="main_data_image">
                    <p class="p__img1">Многие из&nbsp;нас любят играть в&nbsp;компьютерные игры. И&nbsp;не&nbsp;это не&nbsp;просто так. Ведь игры позволяют нам расслабиться после тяжелого рабочего дня. Или&nbsp;же они позволяют &laquo;убить&raquo; время, пока мы&nbsp;едем в&nbsp;автобусе. Также, игры нам помогают убежать от&nbsp;реальности в&nbsp;виде хорошей защиты от&nbsp;стресса. Но&nbsp;не&nbsp;так много людей задумывались, как&nbsp;же создаются эти игры, кто их&nbsp;делает, что это за&nbsp;индустрия. Заранее я&nbsp;могу ответить на&nbsp;этот вопрос так: видеоигры создаются &laquo;Разработчиками игр&raquo; в&nbsp;индустрии &laquo;Gamedev&rsquo;a&raquo;. Именно эти &laquo;герои&raquo; нам позволяют воплощать многие наши мечты в&nbsp;реальность, создавая миры, в&nbsp;которых возможно всё. Но&nbsp;чем они занимаются конкретно? Давайте разберемся в&nbsp;этом вопросе!</p>
                </div>
            </div>
    </div>
    <div class="container">
        <div class="flex definition">
            <div class="main_data_image1">
                <div class="left flex">
                    <img class="img_for" src="{% static 'main/img/many.png' %}">
                    <p class="paragraph"><br>Что такое Gamedev? Это определённое направление индустрии IT, которое включает в себя разработку игр на различные платформы, такие как мобильные телефоны, компьютеры, консоли и так далее. А «Разработчики игр» как раз и специализируются на создание видеоигр. При разработке приложения разработчики используют игровые движки, различные языки программирования, программы для создания 3D моделей и множество других инструментов. На текущий момент эта профессия активно развивается, поскольку сложность создания проектов только растёт и растёт с каждым годом. Стоит только вспомнить крупные AAA-проекты от различных игровых студий, таких как Blizzard, Dice, Capcom, Ubisoft и так далее. Поэтому на данный момент спрос на разработчиков игр повышается с каждым днём.</p>

                </div>
                <h2 class="title">Что нужно сделать, чтобы стать таким специалистом?</h2>
                    <p class="p__img1">
                        Прежде всего необходимо знать языки программирования. Лучше всего подходят C#, C++, Java и&nbsp;т.п. Также, необходимо разбираться в&nbsp;игровых движках, таких как Unity, Unreal Engine или другие. И&nbsp;нельзя забывать про&nbsp;то, что разработчики имеют огромный игровой опыт, поскольку без него никуда.
                        <br><br>Какие есть преимущества этой профессии? Прежде всего&nbsp;&mdash; это очень интересная и&nbsp;творческая работа. Многие люди, которые занимаются в&nbsp;индустрии геймдева, действительно любят свою работу и&nbsp;свой проект. И&nbsp;заниматься им&nbsp;могут они также удаленно, что тоже является огромным плюсом для огромного количества людей.
                    </p>
            </div>
        </div>
        <h2 class="title"><br>Зарплата</h2>
        <div class="flex demand_info">
            <p class="p__img1">Если говорить про зарплату в&nbsp;профессии, то&nbsp;тут тоже всё отлично. Разработчики игр получают высокую заработную плату. Далее мы&nbsp;также об&nbsp;этом поговорим. Кроме&nbsp;зп, работники могут получить ещё и&nbsp;множество различного игрового мерча(товар с&nbsp;символикой определённого бренда), компьютерной техники и&nbsp;других бонусов.</p>
            <img class="img_money" src="{% static 'main/img/mone.png' %}">
        </div>
        </div>

    <div class="container">
        <div class="definition">
            <p class="minuses">Но&nbsp;не&nbsp;стоит забывать о&nbsp;некоторых недостатках этой профессии. Требуется очень много опыта и&nbsp;знаний, чтобы &laquo;влиться&raquo; в&nbsp;эту индустрию. Для новичков это может стать серьёзной проблемой. Чтобы набрать знаний в&nbsp;этой области, необходимо проходить различные курсы, делать свои проекты, изучать языки программирования. Но&nbsp;при должном усердии все &laquo;окупится&raquo;. Как мы&nbsp;видим, плюсов этой профессии больше, чем минусов. И&nbsp;это не&nbsp;просто так. Ведь эта профессия очень интересна и&nbsp;разнообразна.</p>
        </div>

        <div class="definition">
            <p class="minuses">Подводя итог можно смело заявить, что это очень увлекательная и&nbsp;перспективная профессия. Отучившись на&nbsp;такую специальность, программист может рассчитывать на&nbsp;стабильный и&nbsp;высокий заработок, а&nbsp;также большие перспективы в&nbsp;своём развитии.</p>
        </div>
    </div>


{% endblock %}